@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a {
  color: #253f48;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.jumbotron {
  background: url('https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  height: 350px;
}

.jumbotron .lead {
  color: #fff;
}

.jumbotron .display-4 {
  font-size: 80px;
  color: #fff;
}

.page-header {
  padding: 115px 0px 50px;
  position: relative;
  background: url('https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.page-header .inner-header {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
}

.page-header .inner-header h3 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

#content {
  padding: 60px 0;
}

.box {
  padding: 30px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
}

.post-job .control-label {
  margin-bottom: 10px;
  color: #333;
}

.page-login-form .login-form .form-control {
  padding-left: 62px;
  position: relative;
}

.page-login-form h3 {
  font-size: 18px;
  color: #333;
  line-height: 18px;
  padding: 15px 0 30px;
  text-transform: uppercase;
  text-align: center;
}

.page-login-form .form-links {
  width: 100%;
  height: 25px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 9px 15px;
  padding-left: 15px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid #ececec;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

.page-login-form .log-btn {
  width: 100%;
  padding: 12px 22px;
  margin: 0px 0px 20px;
  letter-spacing: 1;
  text-transform: capitalize;
  font-size: 16px;
}

.input-icon {
  position: relative;
}

.input-icon i {
  color: #253f48;
  padding-right: 10px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  border-right: 1px solid #ececec;
  border-radius: 30px 0px 0px 30px;
  top: 1px;
  left: 1px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 48px;
  line-height: 45px;
  height: 45px;
  z-index: 99;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn-common {
  background: #253f48;
  position: relative;
  z-index: 1;
}